<h2>Confirmation View</h2>

<div class="divConfirmation">


    <div class="wrapper" ng-show="DocumentID == null">
        <div class="alert alert-danger">
            <p>It appears there was an error during the submission process. Please come back later and try it again.</p>
            <p>{{ $scope.SubmissionErrors | json }}</p>
        </div>
    </div>

    <div class="wrapper" ng-show="DocumentID != null && DocumentID.length > 0">

        <div class="msgInfo">
            <br />
            <div>
                <h3>Your application reference number is <span class="label label-default">{{ DocumentID }}</span></h3>
                <p>
                    You have successfully submitted an application for registration at <span class="label label-default">{{ SubmittedDateTime | date:'MM/dd/yyyy HH:mm:ss' }}</span>
                </p>
                <p>Please keep this number or print this page for your records. If you have any questions about your application, contact Pacific Blue Cross and reference this number.</p>
            </div>
        </div>

        <div class="msgWarning" ng-show="Application.Provider.IsOpticalStore()">
            <p>You must email or fax in a copy of your business license to Pacific Blue Cross Provider Relations in order for us to complete your application process. Please indicate the reference number above.</p>

            <ul>
                <li><b>Email:</b>&nbsp;<a href="mailto:provider@pac.bluecross.ca">provider@pac.bluecross.ca</a></li>
                <li><b>Fax: </b>&nbsp;604-419-2115</li>
            </ul>

        </div>

        <h2>What happens next?</h2>
        <p>We will review your registration application and notify you by email in approximately 5 days if it has been approved or declined. </p>
        <p>If approved, we will send a separate email with PROVIDERnet account login instructions to the Primary Administrator and registered practitioners at your location. </p>

        <br /><br /><br />
        <div align="center">
            <a href="#" onclick="window.print(); return false;"><span class="glyphicon glyphicon-print"></span>&nbsp;Print This Page</a>
        </div>

    </div>

    <br />
    <div class="row topMargin" align="center">
        <hr />
        <span class="col-md-12" ng-show="SubmissionErrors != null"><button ng-click="Navigation.SummaryPage()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back&nbsp;&nbsp;</button></span>
        <span class="col-md-12" ng-show="SubmissionErrors == null"><button ng-click="Navigation.HomePage()" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home page&nbsp;</button></span>
    </div>


</div>

