<h2>Practitioner List View</h2>

<div id="divPractitioners">

    <fieldset>

        <legend class="form-signin-heading">Practitioner List</legend>

        <br />

        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!--<td>Guid</td>-->
                        <td>#</td>
                        <td>Name</td>
                        <td>Category</td>
                        <td>Effective Date</td>
                        <td>Email Address</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody ng-hide="Application.Practitioners.length == 0">
                    <tr ng-repeat="p in Application.Practitioners">
                        <!--<td>{{p.Guid}}</td>-->
                        <td>{{p.SeqNum}}</td>
                        <td>{{p.Person.FirstName + ' ' + p.Person.LastName}}</td>
                        <td>{{p.Category.Description}}</td>
                        <td>{{p.EffectiveDateAtLocation | date: 'MM-dd-yyyy'}}</td>
                        <td>{{p.Email}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="EditPractitioner(p)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="Application.Practitioners.length == 0"><p>No practitioners in the current application.</p></div>
        </div>

        <div class="row topMargin" align="center">
            <span><button id="btnAdd" class="btn btn-md-large btn-primary" ng-click="SetNewPractitionerToCurrent()">Add a New Practitioner</button></span>
        </div>

        <br />

    </fieldset>

    <br />

    <form role="form" class="form-horizontal" ng-show="CurrentPractitioner != null" >

        <fieldset>

            <legend class="form-signin-heading">
                <span ng-show="CurrentPractitioner.SeqNum === -1">Add a new practitioner</span>
                <span ng-hide="CurrentPractitioner.SeqNum === -1">Edit an existing practitioner</span>
            </legend>

            <br />

            <div class="form-group form-group-md">

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="ddlPractitionerCategory">Practitioner Category:</label></span>
                    <span class="col-md-6">
                        <select id="ddlPractitionerCategory" class="form-control" ng-model="CurrentPractitioner.Category"
                                ng-options="c as c.Description for c in PractitionerCategoryList.CodeTable">
                        </select>
                    </span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="ddlPractitionerAssigningAuthority">Regulatory/Licensing Body:</label></span>
                    <span class="col-md-6">
                        <select id="ddlPractitionerAssigningAuthority" class="form-control" ng-model="CurrentPractitioner.AssigningAuthority"
                                ng-options="c as c.Description for c in PractitionerAssigningAuthorityList.CodeTable">
                        </select>
                    </span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtEffectiveDateAtLocation">Effective Date at location:</label></span>
                    <span class="col-md-6"><input id="txtEffectiveDateAtLocation" class="form-control" type="text" readonly="readonly"
                                                  value="{{CurrentPractitioner.EffectiveDateAtLocation | date: 'MM-dd-yyyy'}}"></span>
                </div>

                <br />

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtRegistrationNumber">Registration Number:</label></span>
                    <span class="col-md-6"><input id="txtRegistrationNumber" class="form-control" type="text"
                                                  ng-model="CurrentPractitioner.RegistrationNumber"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtEffectiveDateOfRegistration">Effective Date of Registration:</label></span>
                    <span class="col-md-6"><input id="txtEffectiveDateOfRegistration" class="form-control" type="text" readonly="readonly"
                                                  value="{{CurrentPractitioner.EffectiveDateOfRegistration | date: 'MM-dd-yyyy'}}"></span>
                </div>

                <br />

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtTitle">Title:</label></span>
                    <span class="col-md-6"><input id="txtTitle" class="form-control" type="text" ng-model="CurrentPractitioner.Person.Title"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtFirstName">First Name:</label></span>
                    <span class="col-md-6"><input id="txtFirstName" class="form-control" type="text" ng-model="CurrentPractitioner.Person.FirstName"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtMiddleName">Middle Name:</label></span>
                    <span class="col-md-6"><input id="txtMiddleName" class="form-control" type="text" ng-model="CurrentPractitioner.Person.MiddleName"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtLastName">Last Name:</label></span>
                    <span class="col-md-6"><input id="txtLastName" class="form-control" type="text" ng-model="CurrentPractitioner.Person.LastName"></span>
                </div>

                <br />

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtEmail">Email Address:</label></span>
                    <span class="col-md-6"><input id="txtEmail" class="form-control" type="Email" ng-model="CurrentPractitioner.Email"></span>
                </div>

                <br />

                <div class="row topMargin" align="center">
                    <span><button class="btn btn-md-large btn-primary" ng-click="SavePractitioner(CurrentPractitioner)">Save</button></span>
                    <span><button class="btn btn-md-large btn-danger" ng-disabled="CurrentPractitioner.SeqNum === -1" ng-click="DeletePractitioner(CurrentPractitioner)">Delete</button></span>
                </div>


            </div>

        </fieldset>


        <br /><br />

        <div class="row topMargin" align="center">
            <span class="col-md-6"><a href="#/provider" class="btn btn-md-large btn-primary">Back to Provider</a></span>
            <span class="col-md-6"><a href="#/corporateContact" class="btn btn-md-large btn-primary">Next Step</a></span>
        </div>

        <br />


    </form>

</div>