<h2>Practitioner List View</h2>

<div id="divPractitioners">

    <form role="form" class="form-horizontal">

        <fieldset>

            <legend class="form-signin-heading">Practitioners</legend>

            <br />
            <br />


            <div class="form-group form-group-md">

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="txtAppDate">Date:</label></span>-->
                <!--<span class="col-md-6"><input id="txtAppDate" class="form-control" type="text" readonly="readonly" value="{{application.signature.AppDate}}"></span>-->
                <!--</div>-->

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="ddpWhoYouAre">Select who you are:</label></span>-->
                <!--<span class="col-md-6">-->
                <!--<select id="ddpWhoYouAre" class="form-control" ng-model="application.signature.WhoYouAre">-->
                <!--<option>I am the Provider</option>-->
                <!--<option>I am a person authorized to sign for this provider</option>-->
                <!--</select>-->
                <!--</span>-->
                <!--</div>-->

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="txtName">Name:</label></span>-->
                <!--<span class="col-md-6"><input id="txtName" class="form-control" type="text" ng-model="application.signature.Name"></span>-->
                <!--</div>-->

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="txtOccupationTitle">Occupation Title:</label></span>-->
                <!--<span class="col-md-6"><input id="txtOccupationTitle" class="form-control" type="text" ng-model="application.signature.OccupationTitle"></span>-->
                <!--</div>-->

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="txtPhone">Contact Phone Number:</label></span>-->
                <!--<span class="col-md-6"><input id="txtPhone" class="form-control" type="text" ng-model="application.signature.Phone"></span>-->
                <!--</div>-->

                <!--<div class="row topMargin">-->
                <!--<span class="col-md-4 right"><label class="control-label" for="txtEmail">Email Address:</label></span>-->
                <!--<span class="col-md-6"><input id="txtEmail" class="form-control" type="Email" ng-model="application.signature.Email"></span>-->
                <!--</div>-->

                <br />

                <div class="row topMargin" align="center">
                    <span class="col-md-6"><a href="#/provider" class="btn btn-md-large btn-primary">Back to Provider</a></span>
                    <span class="col-md-6"><a href="#/corporateContact" class="btn btn-md-large btn-primary">Next Step</a></span>
                </div>
                <br />


            </div>

        </fieldset>





    </form>

</div>