<h2>Practitioner List View</h2>

<div id="divPractitioners">

    <div class="wrapper">

        <div id="divPractList" class="row">

            <br />

            <table class="table table-striped table-hover table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Category</td>
                        <td>Effective Date</td>
                        <td>Email Address</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody class="text-center" ng-hide="Application.Practitioners.length == 0">
                    <tr ng-repeat="p in Application.Practitioners">
                        <td>{{p.SeqNum}}</td>
                        <td>{{p.Person.FirstName + ' ' + p.Person.LastName}}</td>
                        <td>{{p.Category.Description}}</td>
                        <td>{{p.EffectiveDateAtLocation | date: 'MM-dd-yyyy'}}</td>
                        <td>{{p.Email}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" title="Edit" data-toggle="modal" data-target="#divEditPractitionerModal" ng-click="EditPractitioner(p)">
                                &nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;
                            </button>
                            <button class="btn btn-sm btn-danger" title="Delete" ng-click="DeletePractitioner(CurrentPractitioner)">
                                &nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="center" ng-show="Application.Practitioners.length == 0"><p>(no practitioners in the current application)</p></div>
            <br />
        </div>

        <div class="row topMargin" align="center">
            <span>
                <button id="btnAdd" class="btn btn-primary" data-toggle="modal" data-target="#divEditPractitionerModal"
                        ng-click="SetNewPractitionerToCurrent()">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add a New Practitioner&nbsp;
                </button>
            </span>
        </div>

        <br />

        <div class="modal fade" id="divEditPractitionerModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span><span class="sr-only">Close</span>
                        </button>
                        <br /><br />
                        <h2 class="modal-title">
                            <span ng-show="CurrentPractitioner.SeqNum === -1">New Practitioner</span>
                            <span ng-hide="CurrentPractitioner.SeqNum === -1">Existing Practitioner</span>
                        </h2>
                        <br />
                    </div>



                    <div class="modal-body">

                        <br />

                        <form role="form" class="form-horizontal wrapper" name="frmPractitioner">


                            <div class="form-group form-group-md">

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="ddlPractitionerCategory">Practitioner Category:</label></span>
                                    <span class="col-md-6">
                                        <select id="ddlPractitionerCategory" class="form-control" ng-model="CurrentPractitioner.Category"
                                                ng-options="c as c.Description for c in PractitionerCategoryList.CodeTable">
                                        </select>
                                    </span>
                                </div>

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="ddlPractitionerAssigningAuthority">Regulatory/Licensing Body:</label></span>
                                    <span class="col-md-6">
                                        <select id="ddlPractitionerAssigningAuthority" class="form-control" ng-model="CurrentPractitioner.AssigningAuthority"
                                                ng-options="c as c.Description for c in PractitionerAssigningAuthorityList.CodeTable">
                                        </select>
                                    </span>
                                </div>

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtEffectiveDateAtLocation">Effective Date at location:</label></span>
                                    <span class="col-md-6">
                                        <div class="input-group input-group-md date">
                                            <input id="txtEffectiveDateAtLocation"
                                                   class="form-control" type="text" readonly="readonly"
                                                   value="{{CurrentPractitioner.EffectiveDateAtLocation | date: 'MM-dd-yyyy'}}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" title="Click to select a date">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </span>
                                </div>

                                <br />

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtRegistrationNumber">Registration Number:</label></span>
                                    <span class="col-md-6"><input id="txtRegistrationNumber" class="form-control" type="text"
                                                                  ng-model="CurrentPractitioner.RegistrationNumber"></span>
                                        </div>

                                        <div class="row topMargin">
                                            <span class="col-md-4 right"><label class="control-label" for="txtEffectiveDateOfRegistration">Effective Date of Registration:</label></span>
                                    <span class="col-md-6">
                                        <div class="input-group input-group-md date">
                                            <input id="txtEffectiveDateOfRegistration"
                                                   class="form-control" type="text" readonly="readonly"
                                                   value="{{CurrentPractitioner.EffectiveDateOfRegistration | date: 'MM-dd-yyyy'}}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" title="Click to select a date">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </span>
                                </div>

                                <br />

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="ddlTitle">Title:</label></span>
                                    <span class="col-md-6">
                                        <select id="ddlTitle" class="form-control" ng-model="CurrentPractitioner.Person.Title"
                                                ng-options="c as c.Description for c in TitleList.CodeTable">
                                        </select>
                                    </span>
                                </div>

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtFirstName">First Name:</label></span>
                                    <span class="col-md-6"><input id="txtFirstName" class="form-control" type="text" placeholder="Required" ng-model="CurrentPractitioner.Person.FirstName"></span>
                                </div>

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtMiddleName">Middle Name:</label></span>
                                    <span class="col-md-6"><input id="txtMiddleName" class="form-control" type="text" placeholder="Optional" ng-model="CurrentPractitioner.Person.MiddleName"></span>
                                </div>

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtLastName">Last Name:</label></span>
                                    <span class="col-md-6"><input id="txtLastName" class="form-control" type="text" placeholder="Required" ng-model="CurrentPractitioner.Person.LastName"></span>
                                </div>

                                <br />

                                <div class="row topMargin">
                                    <span class="col-md-4 right"><label class="control-label" for="txtEmail">Email Address:</label></span>
                                    <span class="col-md-6"><input id="txtEmail" class="form-control" type="Email" placeholder="Required" ng-model="CurrentPractitioner.Email"></span>
                                </div>


                            </div>

                        </form>

                    </div>

                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSaveModal" ng-click="SavePractitioner(CurrentPractitioner)" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Save&nbsp;</button>
                        <button type="button" class="btn btn-default" id="btnCloseModal" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close&nbsp;</button>
                    </div>
                    <br /><br />
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <br />

    </div>

    <br />
    <div class="row topMargin" align="center">
        <span class="col-md-6"><a href="#/provider" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back&nbsp;&nbsp;</a></span>
        <span class="col-md-6"><a href="#/corporateContact" class="btn btn-primary">&nbsp;&nbsp;Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></span>
    </div>
    <br />

</div>

<script>

    ReloadScripts();

</script>