<h2>Provider View</h2>

<div id="divProvider">

    <form role="form" class="form-horizontal">

        <fieldset>

            <legend class="form-signin-heading">Provider</legend>

            <br />
            <br />


            <!--<div class="form-group form-group-md">-->

                <!--<div class="row topMargin">-->
                    <!--<span class="col-md-4 right"><label class="control-label" for="ddpProviderCategory">Provider Category:</label></span>-->
                    <!--<span class="col-md-6">-->
                        <!--<select id="ddpProviderCategory" class="form-control" ng-model="application.signature.WhoYouAre">-->
                            <!--<option>I am the Provider</option>-->
                        <!--</select>-->
                    <!--</span>-->
                <!--</div>-->

            <!--</div>-->


        </fieldset>

    </form>

</div>

