<h2>Signature View</h2>

<div id="divSignature">

    <form role="form" class="form-horizontal wrapper">

            <br />

            <div class="form-group form-group-md">

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtAppDate">Date:</label></span>
                    <span class="col-md-6">
                        <input class="form-control" id="txtAppDate" title="This is a readonly value (default to current date)"
                               data-toggle="tooltip" data-placement="right"
                               type="text" title="This is the current date. Readonly." disabled
                               value="{{Application.Signature.AppDate | date: 'MM-dd-yyyy'}}"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="ddpWhoYouAre">Select who you are:</label></span>
                    <span class="col-md-6">
                        <select id="ddpWhoYouAre" class="form-control" ng-model="Application.Signature.WhoYouAre">
                            <option>I am the Provider</option>
                            <option>I am a person authorized to sign for this provider</option>
                        </select>
                    </span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtName">Name:</label></span>
                    <span class="col-md-6"><input id="txtName" class="form-control" type="text" ng-model="Application.Signature.Name"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtOccupationTitle">Occupation Title:</label></span>
                    <span class="col-md-6"><input id="txtOccupationTitle" class="form-control" type="text" ng-model="Application.Signature.OccupationTitle"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtPhone">Contact Phone Number:</label></span>
                    <span class="col-md-6"><input id="txtPhone" class="form-control" type="text" ng-model="Application.Signature.Phone"></span>
                </div>

                <div class="row topMargin">
                    <span class="col-md-4 right"><label class="control-label" for="txtEmail">Email Address:</label></span>
                    <span class="col-md-6"><input id="txtEmail" class="form-control" type="Email" ng-model="Application.Signature.Email"></span>
                </div>

            </div>

    </form>

    <br />
    <div class="row topMargin SinkToBottom" align="center">
        <span class="col-md-6"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back&nbsp;&nbsp;</a></span>
        <span class="col-md-6"><a href="#/provider" class="btn btn-primary">&nbsp;&nbsp;Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></span>
    </div>
    <br />

</div>
