<h2>Summary View</h2>


    <div id="divSummary">

        <div class="wrapper">
            <br />
            <div class="alert alert-info" style="box-shadow: 5px 5px 2px #888888;">
                <p>Please review your application carefully prior to submission.</p>
                <p>If you need to modify the details, use the <span style="border: solid 0.15em;"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back&nbsp;</span> button near the bottom of this page.</p>
            </div>
            <br />
            {{ Application | json }}
            <br />

            <div align="center" style="margin-top: 50px; margin-bottom: 30px;">
                <button ng-click="ToggleConsentStatus()" class="checkboxButton alert-{{ConsentIsChecked? 'success' : 'warning'}}">
                    <span class="glyphicon glyphicon-{{ConsentIsChecked? 'check' : 'unchecked'}}"></span>
                    &nbsp;
                    Check here to confirm you have all the required information to proceed.&nbsp;
                    </span>
                </button>
            </div>
            <br />

        </div>

        <div class="row topMargin" align="center">
            <hr />
            <span class="col-md-4"><button ng-click="Navigation.CorporateContactPage()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back&nbsp;&nbsp;</button></span>
            <span class="col-md-4"><button onclick="window.print();" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print&nbsp;</button></span>
            <span class="col-md-4"><button ng-click="Navigation.ConfirmationPage()" ng-disabled="!ConsentIsChecked" class="btn btn-primary" title="{{ConsentIsChecked? 'Click here to submit the application.' : 'You have to consent prior to submission.'}}"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Submit Application&nbsp;</button></span>
        </div>


    </div>



