<h2>Summary View</h2>


<div class="row topMargin" align="center">
    <span class="col-md-12"><a href="#confirmation" class="btn btn-md-large btn-primary">Submit Application</a></span>
</div>

<!--<script>-->
    <!--function ConfirmTpProceed(){-->
        <!--swal({-->
            <!--title: "Do you wish to submit the application?",-->
            <!--text: "Confirm to submit the application to our server!",-->
            <!--type: "warning",-->
            <!--showCancelButton: true,-->
            <!--confirmButtonColor: "#DD6B55",-->
            <!--confirmButtonText: "Yes, delete it!",-->
            <!--cancelButtonText: "No, cancel plx!",-->
            <!--closeOnConfirm: false,-->
            <!--closeOnCancel: false-->
              <!--},-->
            <!--function(isConfirm){-->
                <!--if (isConfirm) {-->
                    <!--return true;-->
                <!--}-->
                <!--else {-->
                    <!--return false;-->
                <!--}-->
            <!--});-->
    <!--}-->
<!--</script>-->